@media screen and (min-width: 768px) {
    .rating-box {
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: 200px;
    }

    .red {
        font-size: 20px;
        color: #FF6060;
    }
    
    .grey {
        font-size: 20px;
        color: #F6F6F6;
    }
    
    .pad {
        padding: 5px;
    }
}
@media screen and (max-width: 767px) {

    .rating-box {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 200px;
    }

    .red {
        font-size: 16px;
        color: #FF6060;
    }
    
    .grey {
        font-size: 16px;
        color: #F6F6F6;
    }
    
    .pad {
        padding: 3px;
    }
}
