h1 {
  all: unset;
}

@media screen and (min-width: 992px) {
  .image-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
  }
  
  .img-top {
    position: relative;
    filter: brightness(70%);
    object-fit: cover;
    width: 95%;
    height: 223px;
    border-radius: 25px;
    z-index: 0;
  }
  
  .text-img-top {
    position: absolute;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 35pt;
    color: #FFFFFF;
    width: 95%;
    padding-top: 80px;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .image-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
  }
  
  .img-top {
    position: relative;
    filter: brightness(70%);
    object-fit: cover;
    width: 95%;
    height: 223px;
    border-radius: 25px;
    z-index: 0;
  }
  
  .text-img-top {
    position: absolute;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22pt;
    color: #FFFFFF;
    width: 95%;
    padding-top: 80px;
    z-index: 1;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .image-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .img-top {
    position: relative;
    filter: brightness(70%);
    object-fit: cover;
    width: 540px;
    height: 140px;
    border-radius: 10px;
    z-index: 0;
  }
  
  .text-img-top {
    position: absolute;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 22pt;
    color: #FFFFFF;
    height: 140px;
    margin-left: 40px;
    margin-right: 50px;
    padding-right: 30px;
    padding-left: 40px;
    padding-top: 50px;
    z-index: 1;
  }
}

@media screen and (max-width: 599px) {
  .image-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 375px;
  }
  
  .img-top {
    position: relative;
    filter: brightness(70%);
    object-fit: cover;
    width: 375px;
    height: 120px;
    border-radius: 10px;
    z-index: 0;
  }
  
  .text-img-top {
    position: absolute;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 18pt;
    color: #FFFFFF;
    height: 120px;
    margin-left: 40px;
    margin-right: 50px;
    padding-right: 30px;
    padding-left: 40px;
    padding-top: 30px;
    z-index: 1;
  }
}