@media screen and (min-width: 992px) and (max-width: 1400px) {
    .equi-bloc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 450px; 
    }

    .equi-titre {
        position: relative;
        font-family: MontserratLight;
        color: white;
        font-size: 14pt;
        width: 450px; 
    }

    .equi-text {
        display: flex;
        flex-direction: column;
        position: relative;
        font-family: MontserratLight;
        font-size: 14pt;
        color: #FF6060;
        width: 450px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .equi-bloc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px; 
    }

    .equi-titre {
        position: relative;
        font-family: MontserratLight;
        color: white;
        font-size: 14pt;
        width: 300px;
    }

    .equi-text {
        display: flex;
        flex-direction: column;
        position: relative;
        font-family: MontserratLight;
        font-size: 14pt;
        color: #FF6060;
        width: 300px;
    }
}

@media screen and (max-width: 767px) {

    .equi-bloc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 335px; 
    }

    .equi-titre {
        width: 335px;
        position: relative;
        font-family: MontserratLight;
        color: white;
        font-size: 14pt;
    }

    .equi-text {
        display: flex;
        flex-direction: column;
        width: 335px;
        position: relative;
        font-family: MontserratLight;
        font-size: 14pt;
        color: #FF6060;
    }
}