@media screen and (min-width: 768px) and (max-width: 1400px) {
    .logement {
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;      
    }

    .bloc-top {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .bloc-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (max-width: 767px) {
    .logement {
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;         
    }

    .bloc-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
    
    .bloc-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
}





