.bloc-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloc-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

