.logement {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.bloc-top {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 20px;
}

.bloc-bottom {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 20px;
}