@media screen and (min-width: 768px) {
    .bloc-top-host {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 95%;
        border: 3px solid black;
    }
    
    .host {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border: 3px solid black;
    }
    
    .nom {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 30px;
        text-align: right;
        font-family: Montserrat;
        font-size: 14pt;
        color:  #FF6060;
        margin-right: 30px;
        margin-top: 20px;
        border: 3px solid black;
    }
    
    .img-host {
        width: 75px;
        height: auto;
        object-fit: cover;
        border-radius: 50px;
        border: 3px solid black;
    }
    
    .rating {
        margin-top: 20px;
        border: 3px solid black;
    }
}

@media screen and (max-width: 767px) {
    .bloc-top-host {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 400px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .host {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: right;
        width: 200px;
    }
    
    .nom {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 30px;
        text-align: right;
        font-family: Montserrat;
        font-size: 10pt;
        color:  #FF6060;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    .img-host {
        width: 50px;
        height: auto;
        object-fit: cover;
        border-radius: 50px;
        margin-right: 50px;
    }
    
    .rating {
        margin-top: 20px;
    }
}
