.collapse-count {
    display: none;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FF6060;
    width: 1023px;
    height: 47px;
    border-radius: 5px;
    padding: 10px;
}

.button-count {
    text-decoration: none;
    border: 0px;
    background-color: #FF6060;
    color: white;
    font-family: MontserratBold;
    font-size: 20px;
    cursor: pointer;
}

.titre-collapse {
    position: relative;
    font-family: MontserratLight;
    color: white;
}