.infos-bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 920px; 
}

.infos-titre {
    width: 920px;
    position: relative;
    font-family: MontserratLight;
    color: white;
    font-size: 14pt;
}

.infos-text {
    width: 920px;
    position: relative;
    font-family: MontserratLight;
    font-size: 14pt;
    color: #FF6060;
}

