.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 120px;
    padding: 30px;
}

.footer-logo {
    width: 122px;
    height: auto;
}

.footer-text {
    color: white;
    font-size: 14pt;
    font-family: MontserratLight;
}