/*ce bloc de code contient les éléments css applicables
à l'intégralité du projet.*/

@font-face {
  font-family: 'MontserratLight';
  src: url('fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

body, p, figure, ul, li {
  margin: 0;
  all: unset;
}

code {
  font-family: Montserrat, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  width: 100%;
}

.app-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
