@media screen and (min-width: 992px) and (max-width: 1400px) {
    .carroussel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin-bottom: 20px;
    }
    
    .slide {
        position: relative;
        width: 1200px;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
        z-index: 0;
    }
    
    .prev-button, .next-button {
        height: auto;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        border: 0px;
        padding-top: 170px;
        padding-left: 100px;
        padding-right: 100px;
        z-index: 1;
    }
    
    .prev-button {
        left: 0;
    }
    
    .next-button {
        right: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .carroussel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin-bottom: 20px;
    }
    
    .slide {
        position: relative;
        width: 800px;
        height: 277px;
        object-fit: cover;
        border-radius: 25px;
        z-index: 0;
    }
    
    .prev-button, .next-button {
        width: 50%;
        height: auto;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        border: 0px;
        padding-top: 150px;
        padding-left: 30px;
        padding-right: 30px;
        z-index: 1;
    }
    
    .prev-button {
        left: 0;
    }
    
    .next-button {
        right: 0;
    }
}
@media screen and (max-width: 767px) {
    .carroussel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin-bottom: 20px;
    }
    
    .slide {
        position: relative;
        width: 335px;
        height: 255px;
        object-fit: cover;
        border-radius: 25px;
        z-index: 0;
    }
    
    .prev-button, .next-button {
        width: 50%;
        height: auto;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        border: 0px;
        padding-top: 150px;
        padding-left: 30px;
        padding-right: 30px;
        z-index: 1;
    }
    
    .prev-button {
        left: 0;
    }
    
    .next-button {
        right: 0;
    }
}

