@media screen and (min-width: 1205px) and (max-width: 1400px) {
    .carroussel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1200px;
        margin-bottom: 20px;
    }

    .slide {
        position: relative;
        width: 1200px;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
        z-index: 0;
    }
    
    .prev-button, .next-button {
        height: auto;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        border: 0px;
        padding-top: 170px;
        padding-left: 100px;
        padding-right: 100px;
        z-index: 1;
    }
    
    .prev-button {
        left: 0;
    }
    
    .next-button {
        right: 0;
    }

    .num {
        position: absolute;
        color: white;
        font-size: 18pt;
        font: Monteserrat;
        padding-top: 370px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1204px) {
    .carroussel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 900px;
        margin-bottom: 20px;
    }
    
    .slide {
        position: relative;
        width: 900px;
        height: 310px;
        object-fit: cover;
        border-radius: 25px;
        z-index: 0;
    }
    
    .prev-button, .next-button {
        height: auto;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        border: 0px;
        padding-top: 120px;
        padding-left: 100px;
        padding-right: 100px;
        z-index: 1;
    }
    
    .prev-button {
        left: 0;
    }
    
    .next-button {
        right: 0;
    }

    .next, .prev {
        width: 70%;
        height: auto;
    }

    .num {
        position: absolute;
        color: white;
        font-size: 16pt;
        font: Monteserrat;
        padding-top: 265px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .carroussel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        margin-bottom: 20px;
    }
    
    .slide {
        position: relative;
        width: 700px;
        height: 277px;
        object-fit: cover;
        border-radius: 25px;
        z-index: 0;
    }
    
    .prev-button, .next-button {
        height: auto;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        border: 0px;
        padding-top: 120px;
        padding-left: 130px;
        padding-right: 130px;
        z-index: 1;
    }
    
    .prev-button {
        left: 0;
    }
    
    .next-button {
        right: 0;
    }

    .next, .prev {
        width: 60%;
        height: auto;
    }

    .num {
        position: absolute;
        color: white;
        font-size: 14pt;
        font: Monteserrat;
        padding-top: 232px;
    }
}

@media screen and (max-width: 767px) {
    .carroussel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
        margin-bottom: 5px;
    }
    
    .slide {
        position: relative;
        width: 380px;
        height: 275px;
        object-fit: cover;
        border-radius: 25px;
        z-index: 0;
    }
    
    .prev-button, .next-button {
        height: auto;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        border: 0px;
        padding-top: 120px;
        padding-left: 80px;
        padding-right: 80px;
        z-index: 1;
    }
    
    .prev-button {
        left: 0;
    }
    
    .next-button {
        right: 0;
    }

    .next, .prev {
        width: 50%;
        height: auto;
    }

    .num {
        position: absolute;
        color: white;
        font-size: 12pt;
        font: Monteserrat;
        padding-top: 240px;
    }
}

